<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grey-bg {
            background: #eee;
        }

        .white-bg {
            background: white;
            margin: 20px;
            border-radius: 5px;
        }

        .list-box {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .list-box h4 {
            font-size: 16px;
            margin: 5px;
        }

        .list-box span {
            font-size: 13px;
            margin: 5px;
            color: grey;
        }

        .title {
            text-decoration: none;
            color: black;
        }
        .lastMsg {
            cursor: pointer;
            margin-bottom: 0;
        }
        .lastMsg:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body class="grey-bg">
<%- include("nav.ejs") %>

<div class="white-bg">
    <% if (list && list.length > 0) { %>
        <% for (let i = 0; i < list.length; i++) { %>
            <div class="list-box">
                <h4>
                    <a class="title" href="/board/chat/detail/<%= list[i]._id %>">
                        <%= list[i].usernames.filter(n => n !== user.username) %>
                    </a>
                    <span>
                        <%= list[i].relativeTime || '시간 정보 없음' %>
                    </span>
                    <p class="lastMsg" data-cno="<%= list[i]._id%>"><%= list[i].lastMsg%></p>
                </h4>
            </div>
        <% } %>
    <% } else { %>
        <p>표시할 채팅방이 없습니다.</p>
    <% } %>
</div>
<script>
    let $lastMsg = document.querySelector('.lastMsg');
    $lastMsg.addEventListener('click', (e) => {
        const cno = $lastMsg.dataset.cno
        console.log(cno)
        window.location = `/board/chat/detail/${cno}`;
    })
</script>

</body>
</html>