<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grey-bg {
            background: #eee;
        }
        .white-bg {
            background: white;
            margin: 20px;
            border-radius: 5px;
        }
        .list-box {
            padding : 10px;
            border-bottom: 1px solid#eee;
        }
        .list-box h4{
            font-size: 16px;
            margin: 5px;
        }
        .list-box p {
            font-size: 13px;
            margin: 5px;
            color: grey;
        }
    </style>
</head>
<body class="grey-bg">
<%- include("nav.ejs")%>
<!--<%= JSON.stringify(post)%>-->
<div class="white-bg">
    <% for (let i = 0; i < post.length; i++){ %>
    <div class="list-box">
        <h4>
            <a href="/detail/<%=post[i]._id%>">
                <%= post[i].title%>
            </a>
            <a href="/edit/<%=post[i]._id%>">✏️️</a>
        </h4>
        <p><%= post[i].content%></p>
    </div>
    <%} %>
</div>

</body>
</html>